{% comment %} arrow button {% endcomment %}
<a href="{{ arrow_button_link }}" class=" arrow-button {{ arrow_button_varient_class }}">
  <span class="arrow-button__text">
    {{ arrow_button_text }}
  </span>
  <span class="arrow-button__arrow">
    {{ 'button-arrow.svg' | inline_asset_content }}
  </span>
</a>
