@use '../utilities/mx' as mx;

.featured-section {
  padding: 150px 0;
  background-color: var(--clr-grey);

  @include mx.mq('desktop-medium'){
    padding-top: 200px;
  }

  @include mx.mq('desktop-medium'){
    padding-top: 436px;  //placeholder value
  }

  .textbox{
    text-align: center;
    @include mx.mq('tablet-wide'){
      text-align: left;
      margin-top: 80px;
    }
  }

  h1{
    max-width: 500px; 
    margin: 0 auto 20px;

    @include mx.mq('tablet-wide'){
      margin: 0 0 20px;
    } 

    @include mx.mq('desktop-medium'){
      max-width: none;
    }
  }

  p{
    margin-bottom: 20px;
    @include mx.mq('tablet-wide'){
      max-width: 461px;
      margin-bottom: 64px;
    }
  }

  a.button{
    margin: 0 auto 20px; 
    @include mx.mq('tablet-wide'){
      margin-top: 64px;
      margin-left: 0;
    }
  }

  &__slider-wrapper{
    position: relative; 
  }

  &__circle{
    position: absolute;
    cursor: pointer;
    z-index: 0;

    &--big{
      @include mx.mq('tablet-wide'){
        width: 529px;
        height: auto;
        bottom: 160px;
        left: 26px;
      }
    } 
    &--small{
      @include mx.mq('tablet-wide'){
        width: 330px;
        height: auto;
        bottom: 93px;
        right: 68px;
      }
    }
  }

  &__slider{
    margin-top: 40px; 

    @include mx.mq('tablet-wide'){
      margin-top: 0;
    }

    .slide{
      position: relative;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}
