@use '../utilities/mx' as mx;

.featured-section {
  padding: 150px 0;
  background-color: var(--clr-grey);

  @include mx.mq('tablet-wide',min){
    padding: 100px;
    padding-top: 200px;
  }
  a.button{
    margin-top: 40px;
  }
}
