@use '../utilities/mx' as mx;

.header{
    &__top-bar {
        padding: 22px 0;
        @include mx.mq('tablet', max) {
            padding: 12px 0;
            display: none;
        }
        
        .location,
        .settings {
            display: flex;
            align-items: center;
        }

        .location {
            gap: 0 12px;

            &:hover {
                .location__text {
                    color: var(--clr-red);
                }

                .location__pin {
                    transform: scale(1.1);

                    svg {
                        path {
                            fill: var(--clr-red);
                            ;
                        }
                    }
                }
            }

            @include mx.mq('tablet', max) {
                justify-content: center;
                margin-bottom: 5px;
            }

            &__pin {
                transition: all 0.6s ease-in-out;

                svg {
                    path {
                        transition: all 0.6s ease-in-out;
                    }
                }
            }

            &__text {
                @include mx.font-source-sans(--font-family-2, --theme-font-p-mob-5, --clr-smoke-2, false, 20px);
                padding: 0;
                transition: all 0.6s ease-in-out;
            }
        }

        .settings {
            justify-content: flex-end;

            @include mx.mq('tablet', max) {
                justify-content: center;
            }

            select {
                border: none;
                background-color: transparent;
            }



            &__currency,
            &__lang,
            &__order-track {
                @include mx.font-source-sans(--font-family-2, --theme-font-p-mob-5, --clr-smoke-2, false, 20px);
            }

            &__order-track {
                &:hover {
                    a {
                        color: var(--clr-red);
                    }
                }

                a {
                    color: var(--clr-smoke-2);
                    transition: all 0.6s ease-in-out;
                }
            }
        }
    }
}