@use '../utilities/mx' as mx;


.sortby-container {

    .filter {
        .horizontal-line {
            margin: 20px 0;
        }

        h3 {
            @include mx.font-source-sans(--font-family-1, --theme-font-btn-tab-1, --clr-smoke-2, false, 32px, normal);
            margin-bottom: 20px;
        }

        .filter-group {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 20px;
            }

            .checkboxWrapper {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                cursor: pointer;

                label {
                    @include mx.font-source-sans(--font-family-2, --theme-font-h3-mob-4, --clr-smoke-2, false, normal, normal);
                }

                input[type='checkbox'] {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 0;
                    opacity: 0;
                    width: 16px;
                    height: 16px;
                    z-index: 1;
                    border: 1px solid var(--clr-smoke-1);
                }

                .checkmark {
                    position: relative;
                    border: 1px solid var(--clr-smoke-1);
                    background-color: transparent;
                    pointer-events: none;
                    width: 16px;
                    height: 16px;
                    border-radius: 2px;
                    aspect-ratio: 1/1;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 0;

                    svg {
                        opacity: 0;
                    }
                }

                &:hover>input[type='checkbox']~.checkmark {
                    background-color: #ccc;
                    border: 1px solid #ccc;
                }

                &>input[type='checkbox']:checked~.checkmark {
                    background-color: var(--clr-red);
                    border: 1px solid var(--clr-red);

                    svg {
                        opacity: 1;
                    }
                }

                &>input[type='checkbox']:checked~label {
                    font-family: var(--font-family-2-1);
                }
            }

            &__buttons {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 11px;
                width: 100%;

                .button.button--outline {
                    padding: 5px 0px;
                    width: auto;
                    border: 2px solid rgb(48 48 48 / 20%);

                    span {
                        color: var(--clr-smoke-2);
                    }

                    &:hover,
                    &.active {
                        span {
                            color: var(--clr-white);
                        }
                    }

                    &:after {
                        background: var(--clr-smoke-2);
                    }

                    &.active:after {
                        transform: translate(0);
                    }
                }
            }

            .range {
                &__slider {
                    position: relative;
                    margin: 40px 0;
                    min-height: 2px;
                    background-color: rgb(48 48 48 / 20%);
                }

                &__track {
                    position: absolute;
                    height: 100%;
                }

                &__slide-input {
                    background: none;
                    position: absolute;
                    width: 100%;
                    pointer-events: none;
                    top: 50%;
                    transform: translateY(-50%);
                    appearance: none;

                    &[type='range']::-webkit-slider-thumb {
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        border: 3px solid var(--clr-red);
                        background: var(--clr-red);
                        pointer-events: auto;
                        appearance: none;
                        cursor: pointer;
                    }

                    &[type='range']::-moz-range-thumb {
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        border: 3px solid var(--clr-red);
                        background: var(--clr-red);
                        pointer-events: auto;
                        appearance: none;
                        cursor: pointer;
                    }
                }

                &__number {
                    display: flex;
                    text-align: left;
                    gap: 11px;

                    @include mx.mq('desktop-medium', max) {
                        flex-direction: column;
                        gap: 5px;
                    }

                    label {
                        margin-bottom: 8px;
                        display: block;
                    }

                    input {
                        padding: 12px 5px 12px 25px;
                        width: 100%;
                        border: 2px solid rgb(48 48 48 / 20%);
                        @include mx.font-source-sans(--font-family-2-2, --theme-font-btn-mob-1, --clr-black, false, 24px, normal);
                    }
                }
            }
        }

        .filter-clear {
            margin-bottom: 32px;


            button.clear-btn {
                @include mx.font-source-sans(--font-family-2-2, --theme-font-h3-mob-4, --clr-smoke-2, false, 24px, normal);
                text-transform: uppercase;
                background: none;
                border: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;
                padding-bottom: 5px;
                position: relative;
                cursor: pointer;

                @include mx.mq('desktop-medium', max) {
                    font-size: 11px;
                    text-align: left;
                    gap: 5px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background-color: var(--clr-smoke-2);
                    transition: all 0.3s ease-in-out;
                    bottom: 0;
                    left: 0;
                }

                &:hover:after,
                &.active:after {
                    width: 100%;
                }
            }
        }


    }

    #close-btn {
        max-width: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 10px;
        font-size: var(--theme-font-p-mob-5);
    }


    .filter--drawer {
        position: fixed;
        top: 0;
        display: none;
        background-color: var(--clr-white);
        height: 100%;
        max-width: 300px;
        width: 100%;
        opacity: 1;
        transition: transform 0.17s ease-in-out;
        z-index: 9999; // Drawer content z-index
        border-top: 1px solid #ececec;
        transform: translateX(-100%);
        left: 0;

        @include mx.mq('tablet-wide', max) {
            display: block;

            &.active {
                transform: translateX(0%);
            }

        }

        .filter-clear {
            margin-bottom: 10px;
        }

        h3 {
            font-size: 1em;
        }

        .filter-group {
            li {
                margin-bottom: 10px;
            }
        }
    }

    .filter-wrapper {
        &__content {
            height: calc(100% - 120px);
            padding: 12px;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 20px;

            #close-btn {
                padding: 20px;
            }
        }

        &__footer {
            position: absolute;
            bottom: 0;
            left: 0;
            border-top: 1px solid var(--clr-black);
            height: fit-content;
            width: 100%;
            padding: 20px;
            background: var(--clr-white);
            z-index: 10000;

            #close-btn {
                padding: 10px;
                justify-content: center;
            }
        }
    }

}