@use '../utilities/mx' as mx;

.footer {
    h3 {
        @include mx.font-source-sans(--font-family-1, --theme-font-btn-tab-1, --clr-smoke-2, false, 32px, normal);
        margin-bottom: 16px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 12px;

            a {
                @include mx.font-source-sans(--font-family-2, --theme-font-btn-mob-1, --clr-smoke-2, false, 24px);
                transition: all 0.3 ease-in-out;
                &:hover{
                    color:var(--clr-red)
                }
            }
        }
    }

    .footer-block {
        &__logo_block {
            max-width: 250px;
            .img--logo {
                margin-bottom: 36px;
            }

            li {
                a {
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;

                    .icon {
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                }
            }
        }

        &__newsletter_block{
            form{
                display: flex;
                align-items:stretch;
                min-height: 64px;
                min-width: 250px;
                margin-bottom: 16px;
                @include mx.mq('desktop',max){
                    min-width: 0;
                }
            }
            input{
                width: 100%;
                padding: 0 20px;
                border-right: 1px solid transparent;
                border-left: 1px solid #00000061;
                border-top: 1px solid #00000061;
                border-bottom: 1px solid #00000061;
            }
            button{
                background-color: var(--clr-red);
                border: 1px solid var(--clr-red);
                min-width: 78px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s ease-in-out;

                @include mx.mq('desktop',max){
                    min-width: 50px;
                }

                
                &:hover{
                    background-color: var(--clr-white);
                    svg{
                        
                        path{
                            fill: var(--clr-red);
                        }
                    }
                }
                svg{
                    path{
                        transition: all 0.5s ease-in-out;
                        fill: var(--clr-white);
                    }
                }
            }
            .payment-logos{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 5px;
            }
        }
    }
}