@use '../utilities/mx' as mx;

.half-banner-card-section {
    margin-top: 150px;
    padding: 0 0 100px;
    @include mx.mq('tablet-wide'){
        margin-top: 56px;
    }
    @include mx.mq('desktop'){
        padding: 0 0 148px;
    }
    
}
