@use '../utilities/mx' as mx;

.header {
    background-color: var(--clr-white);

    .vertical-line {
        height: 24px;
        margin: 0 16px;
    }

    // header Varients
    &--sticky {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9997;
    }
}