@use '../utilities/mx' as mx;

.header {
    background-color: var(--clr-white);

    .vertical-line {
        height: 24px;
        margin: 0 16px;
    }

    &__address-bar {
        padding: 22px 0;


        @include mx.mq('tablet', max) {
            padding: 12px 0;
            display: none;
        }

        .location,
        .settings {
            display: flex;
            align-items: center;
        }

        .location {
            gap: 0 12px;

            &:hover {
                .location__text {
                    color: var(--clr-red);
                }

                .location__pin {
                    transform: scale(1.1);

                    svg {
                        path {
                            fill: var(--clr-red);
                            ;
                        }
                    }
                }
            }

            @include mx.mq('tablet', max) {
                justify-content: center;
                margin-bottom: 5px;
            }

            &__pin {
                transition: all 0.6s ease-in-out;

                svg {
                    path {
                        transition: all 0.6s ease-in-out;
                    }
                }
            }

            &__text {
                @include mx.font-source-sans(--font-family-2, --theme-font-p-mob-5, --clr-smoke-2, false, 20px);
                padding: 0;
                transition: all 0.6s ease-in-out;
            }
        }

        .settings {
            justify-content: flex-end;

            @include mx.mq('tablet', max) {
                justify-content: center;
            }

            select {
                border: none;
                background-color: transparent;
            }



            &__currency,
            &__lang,
            &__order-track {
                @include mx.font-source-sans(--font-family-2, --theme-font-p-mob-5, --clr-smoke-2, false, 20px);
            }


            &__currency {}

            &__lang {}

            &__order-track {
                &:hover {
                    a {
                        color: var(--clr-red);
                    }
                }

                a {
                    color: var(--clr-smoke-2);
                    transition: all 0.6s ease-in-out;
                }
            }
        }
    }

    &__logo-bar {
        padding: 22px 0;

        .row {
            align-items: center;
        }

        .location,
        .settings {
            display: flex;
            align-items: center;
        }

        .logo {
            margin: 0 auto;

            @include mx.mq('tablet', max) {
                margin: 0 auto 0 0;
            }

            svg,
            img {
                width: 100%;
                height: auto;
            }
        }

        .icon-group {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .user {
                display: flex;
                align-items: center;
                gap: 0 16px;

                &__text {
                    @include mx.font-source-sans(--font-family-2-1, --theme-font-p-mob-1, --clr-smoke-2, false, 24px);
                    text-transform: uppercase;
                    opacity: 0.75;
                    transition: all 0.5s ease-in-out;
                }

                svg {
                    path {
                        transition: all 0.5s ease-in-out;
                    }
                }

                &:hover {
                    .user__text {
                        color: var(--clr-red);
                        opacity: 1;
                    }

                    svg {
                        path {
                            fill: var(--clr-red);
                        }
                    }
                }
            }

            .cart {
                &__icon {
                    svg {
                        transition: all 0.3s ease-in-out;
                    }
                }

                &:hover {
                    .cart__icon {
                        svg {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .search {
            &:hover {
                svg {
                    transform: scale(1.1);
                }
            }

            form {
                display: flex;
                gap: 12px;
            }

            input {
                width: 100%;
                max-width: 236px;
                border: none;
            }

            button {
                background-color: transparent;
                border: none;
            }

            svg {
                transition: all 0.5s ease-in-out;
            }
        }


        .hamburger {
            width: 30px;
            height: 20px;
            position: relative;
            margin: 0 0 0 auto;
            transform: rotate(0);
            transition: .5s ease-in-out;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background:  var(--clr-red);
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2) {
                    top: 8px;
                }

                &:nth-child(3) {
                    top: 16px;
                }
            }

            &.open {
                span {
                    &:nth-child(1) {
                        top: 16px;
                        transform: rotate(135deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        left: -60px;
                    }

                    &:nth-child(3) {
                        top: 16px;
                        transform: rotate(-135deg);
                    }
                }
            }
        }
    }

    &__nav-bar {
        display: flex;
        background-color: var(--clr-smoke-2);

        @include mx.mq('tablet', max) {
            background-color: var(--clr-white);
            position: absolute;
            right: 0;
            top: 138px;
            height: 100vh;
            max-width: 65%;
            width: 100%;
            opacity: 1;
            transform: translateX(100%); // Start off-screen in mobile view
            transition: transform 0.3s ease-in-out;
            z-index: 9999;
            border-top: 1px solid #ececec;
    
            &:after {
                transition: all 0.3s ease-in-out;
                content: "";
                position: absolute;
                opacity: 0;
                right: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 9998;
                background-color: rgba(71, 71, 71, 0.36);
                pointer-events: none;
                transform: translateX(-100%);
            }
    
            &.open {
                transform: translateX(0); 
                &::after {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }


        ul {
            padding: 0;
        }


        .nav.nav--main-menu,
        .nav.nav--main-menu>li,
        .nav-phone {
            display: flex;
            align-items: stretch;
        }

        .nav.nav--main-menu,
        .nav-phone {
            min-height: 88px;

            @include mx.mq('tablet-wide', max) {
                min-height: 45px;
            }

            @include mx.mq('tablet', max) {
                flex-direction: column;
                align-items: center;
                gap: 15px;
                margin-top: 20px;
            }

        }

        .nav.nav--main-menu  {
            li, a {
                @include mx.mq('tablet', max){
                    width: 100%;
                }
            }
            a{
                @include mx.mq('tablet', max){
                    justify-content: space-between;
                }
            }

        }

        .nav.nav--main-menu li {
            a {
                padding: 0 14px;
                display: flex;
                align-items: center;
                transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
                @include mx.font-source-sans(--font-family-2-1, --theme-font-p-mob-1, --clr-white, false, 24px);
                text-transform: uppercase;

                @include mx.mq('tablet', max){
                    color: var(--clr-smoke-2);
                    font-family: var(--font-family-2);
                }

                .nav-arrow{
                    svg{
                        transform-origin:center;
                        path{
                            @include mx.mq('tablet', max){
                                fill: var(--clr-smoke-2);
                            }
                        }
                    }
                }
            }

            &.open{
               > a{
                   > .nav-arrow{

                       > svg{
                            transform: rotate(-90deg);
                        }
                    }
                }
            }

            &:hover,
            &.active {
                >a {
                    background-color: var(--clr-red);
                    @include mx.mq('tablet', max){
                        background-color: transparent;
                    }

                }
            }

            &.has-submenu:hover{
                >.submenu {
                    @include mx.mq('tablet',min){
                        display: block;
                    }
                }
            }

            &.has-submenu{
                &.open > .submenu{
                    display: block;
                }
            }

            &.has-submenu .has-submenu:hover {
                li {
                    a {
                        svg {
                            transform: rotate(-90deg);
                        }
                    }

                }

                >.submenu {
                    // display: block;
                    @include mx.mq('tablet',min){
                        display: block;
                    }
                }
            }
        }

        li.has-submenu {
            position: relative;
            @include mx.mq('tablet',max){
                flex-direction: column;
            }

            a {
                gap: 5px;
            }

        }

        .nav.nav--main-menu .submenu {
            display: none;
            position: absolute;
            width: fit-content;
            min-width: 100%;
            top: 100%;
            list-style: none;
            padding: 0;

            @include mx.mq('tablet',max){
                position: inherit;
                width: 100%;
            }

            >li {
                background-color: var(--clr-smoke-2);
                padding: 5px 0;

                @include mx.mq('tablet', max){
                    background-color: transparent;
                }
                
                &:hover {
                    background-color: var(--clr-red);
                    @include mx.mq('tablet', max){
                        background-color: transparent;
                    }
                }
                >a {
                    padding: 5px 5px 5px 15px;

                    @include mx.mq('tablet', max){
                        padding: 5px 5px 5px 25px;
                    }
                }
            }



        }

        .nav.nav--main-menu.submenu-depth-0 {
            >li{
                @include mx.mq('tablet', max){
                    border-bottom: 1px solid #ececec;
                }

                a{
                    @include mx.mq('tablet',max){
                        padding: 15px 5px;
                    }
                }
            }
        }

        .nav.nav--main-menu .submenu.submenu-depth-1 {
            >li {
                >a {
                    @include mx.mq('tablet', max){
                        padding: 5px 5px 5px 15px;
                    }
                }
            }
        }
        .nav.nav--main-menu .submenu.submenu-depth-2 {
            left: 100%;
            top: 0;

            @include mx.mq('tablet', max){
                position: initial;
                left: 0;
            }

            >li {
                >a {
                    @include mx.mq('tablet', max){
                        padding: 5px 5px 5px 30px;
                    }
                }
            }
        }

        .nav-phone {
            justify-content: flex-end;

            &__text {
                @include mx.mq('tablet-wide', max) {
                    display: none;
                }
            }

            a {
                padding: 0 30px;
                display: flex;
                align-items: center;
                transition: all 0.3s ease-in-out;
                @include mx.font-source-sans(--font-family-2-1, --theme-font-p-mob-1, --clr-white, false, 24px);
                text-transform: capitalize;
                gap: 13px;

                &:hover,
                &.active {
                    background-color: var(--clr-red);
                }
            }


        }
    }

    // mobile nav active classes 
    &__logo-bar.mb-nav-active + &__nav-bar{

        .hamburger {
            width: 30px;
            height: 20px;
            position: relative;
            margin: 0 0 0 auto;
            transform: rotate(0);
            transition: .5s ease-in-out;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background:  var(--clr-red);
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2) {
                    top: 8px;
                }

                &:nth-child(3) {
                    top: 16px;
                }
            }

            &.open {
                span {
                    &:nth-child(1) {
                        top: 16px;
                        transform: rotate(135deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        left: -60px;
                    }

                    &:nth-child(3) {
                        top: 16px;
                        transform: rotate(-135deg);
                    }
                }
            }
        }
    }

    // header Varients
    &--sticky {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
    }
}