<!doctype html>
<html>
  <head>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css">
  </head>

  <body>
    {{ content_for_layout }}
  </body>
</html>
