<html>
  <head>
    {{ content_for_header }}
    <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet">
  </head>
  <body>
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
