<section class="featured-section" id="featured-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="textbox">
          <h1>{{ section.settings.featured_title }}</h1>
          <p>{{ section.settings.featured_text }}</p>
          {% render 'button', button_text: 'Shop Now', button_link: '#', button_class: 'button--primary' %}
        </div>
      </div>
      {% if section.blocks.size > 0 %}
        <div class="col-12 col-lg-6 featured-section__slider-wrapper">
          <div class="featured-section__circle-wrapper animation--rotate360">
            <svg
              class="featured-section__circle featured-section__circle--big circle animation--shinkGrow"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="50" cy="50" r="50"  fill="#333332"/>
            </svg>
            <svg
              class="featured-section__circle featured-section__circle--small circle animation--growShrink"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="50" cy="50" r="50"  fill="#B52F2B"/>
            </svg>
          </div>
          <div class="featured-section__slider featured-swiper--init">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <div class="swiper-slide">
                  <img
                    src="{{ block.settings.slider_image | img_url: 'master' }}"
                    alt="{{ block.settings.slider_image_title }}"
                    width="748"
                    height="610"
                  >
                </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured section",
  "settings": [
    {
      "type": "text",
      "id": "featured_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "featured_text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slider Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "slider_image",
          "label": "Slider Image",
          "info": "Recommended image size: 748x610px"
        },
        {
          "type": "text",
          "id": "slider_image_title",
          "label": "Image Title"
        }
      ]
    }
  ]
}
{% endschema %}

{% javascript %}
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.featured-swiper--init', {
      loop: true,
      autoplay: {
        delay: 3000,
      },
      effect: 'fade',
      fadeEffect: {
        crossFade: true,
      },
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      keyboard: {
        enabled: true, // Enable keyboard control
        onlyInViewport: true, // Enable keyboard control only when the slider is in viewport
      },
    });
  });
{% endjavascript %}
