<section class="featured-section" id="1-block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="textbox">
          <h1>{{ section.settings.title }}</h1>
          <p>{{ section.settings.featured_text }}</p>
          <a href="#" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "featured_text",
      "label": "Text"
    }
  ]
}
{% endschema %}
