<section class="featured-section" id="1-block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="textbox">
          <h1>{{ section.settings.featured_title }}</h1>
          <p>{{ section.settings.featured_text }}</p>
          {% render 'button', button_text: 'Shop Now', button_link: '#', button_class: 'button--primary' %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured section",
  "settings": [
    {
      "type": "text",
      "id": "featured_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "featured_text",
      "label": "Text"
    }
  ]
}
{% endschema %}
