<section class="product-slider-section" id="2-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="product-tabs">
          <a href="#" id="product-tab-1" class="product-tabs__title product-tabs__title--active">Featured</a>
          <div class="product-tabs__separator product-tabs__separator--vertical"></div>
          <a href="#" id="product-tab-2" class="product-tabs__title">New</a>
        </div>
        <div class="product-tabs__separator product-tabs__separator--horizontal"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Slider Section"
}
{% endschema %}

{% javascript %}
{% endjavascript %}
