@use 'mx';
// Heading

:root{
    --font-family-1: 'JostBold', sans-serif; 
    --font-family-1-2: 'JostBlackItalic', sans-serif; 
// Body
    --font-family-2: 'MontserratRegular', sans-serif; 
    --font-family-2-1: 'MontserratBold', sans-serif; 

    // Desktop Font size
  --theme-font-1: em-convert(70px, 16px);
  --theme-font-0-3: em-convert(40px, 16px);
  --theme-font-1-l: em-convert(150px, 16px);
  --theme-font-2: em-convert(16px, 16px);

    // Mobile font size
  --theme-mob-font0: em-convert(75px, 16px);
  --theme-mob-font01: em-convert(60px, 16px);
  --theme-mob-font01-1: em-convert(50px, 16px); 

  // Colors 
    --clr-red: #B52F2B; 
    --clr-smoke-1: #333332;
    --clr-smoke-2: #303030;
    --clr-yellow: #D8B658; 
    --clr-black: #000000; 
    --clr-grey: #F2F2F2;
    --clr-white: #FFFFFF;
}




