@use '../utilities/mx' as mx;
body{
    font-family: var(--font-family-2);
    color: var(--clr-smoke-2);
}


h1, h2, h4, h5, h6{
    font-family: var(--font-family-1);
    color: var(--clr-smoke-2);
    text-transform: uppercase;
    margin-bottom: 20px;
}
h1{

    @include mx.font-source-sans(--font-family-1,--theme-font-h1-mob-1-1,--clr-smoke-2,false,normal);

    @include mx.mq('desktop-phablet'){
        @include mx.font-source-sans(--font-family-1,--theme-font-h1-mob-2,--clr-smoke-2,false,normal);
    }

    @include mx.mq('desktop-medium'){
        @include mx.font-source-sans(--font-family-1,--theme-font-h1-tab-2, --clr-smoke-2,false,70px);
    }

    @include mx.mq('desktop-medium'){
        @include mx.font-source-sans(--font-family-1,--theme-font-h1-tab-3,--clr-smoke-2,false,80px);
    }
}


p{
    @include mx.font-source-sans(--font-family-2,--theme-font-3,--clr-smoke-2,false,normal);
    @include mx.mq('desktop-medium'){
        @include mx.font-source-sans(--font-family-2,--theme-font-p-mob-3,--clr-smoke-2,false,30px);
    }
}

h3{
    @include mx.font-source-sans(--font-family-2-1,--theme-font-h3-mob-1,--clr-red,false,normal);
}


a{
    text-decoration: none;
    &:hover{
        color: var(--clr-red);
    }
}

[data-slick="slider"] > [data-slick="slide"]:not(:first-child){
    display: none;
}

.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid var(--color-1);
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
